{% extends "base.html.twig" %}

{% block body %}
    {%if slug == null%}
        <h1>Aucune série sélectionnée, veuillez choisir une série</h1>
    {% endif %}
    {%if slug != null%}
        <h1>Titre {{slug}}</h1>
    {% endif %}
{% endblock %}