@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

#navbar{
  background: #222222;
}
nav ul{
  width: 100%;
}
nav li{
  width: 30%;
}

.navbar-brand{
  padding-right: 7%;
  display: flex;
  padding-top: 1rem;
}
.navbar-brand p {
  color: blue;
  font-weight: bold;
  padding-left: 1rem;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 20px;
}

#navbarDropdownMenuLink{
  display: flex;
  flex-direction: column;
}

.dropdown-menu{
  font-weight: bold;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 20px;
}

#navbarDropdownMenuLink, #nav_link{
  text-align: center;
  color: blue;
  font-weight: bold;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 20px;
}

#nav_link:hover, .navbar-brand p:hover{
  color: darkblue;
  text-decoration: underline;
  text-decoration-color: darkblue;
}

#navbarDropdownMenuLink:hover{
  color: darkblue;
}




