{% extends "base.html.twig" %}

{% block body %}
    <ul>
        {% for program in programs %}
            <li><a href="{{ path('wild_show', {'slug': program.slug}) }}">{{ program.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}